@import 'tailwindcss';

@theme {
	/* Custom font families */
	--font-inter: 'Inter', sans-serif;

	/* Custom colors */
	--color-slate-950: #020617;
}

@layer base {
	html {
		font-family: var(--font-inter);
	}

	body {
		@apply bg-slate-950 text-slate-200 antialiased;
	}
}
